    {{> header}}    
        <link rel="stylesheet" href="/css/style.css">
   <body>    
    <h1>SURVEY FORM</h1>  
    {{> navbar}}
    <!-- Create Form -->
    {{!-- <form action="/db/home" id="form" method="post"> --}}
     <form action="" id="form" method="post">
        <!-- Details -->
        <div class="form-control">
            <label for="name" id="label-name">
                Name
            </label>
 
            <!-- Input Type Text -->
            <input type="text"
                   id="name"
                   placeholder="Enter your name" required />
        </div>
  
        <div class="form-control">
            <label for="email" id="label-email">
                Email
            </label>

            <input type="email"
                   id="email"
                   placeholder="Enter your email" required />
        </div>
  
        <div class="form-control">
            <label for="age" id="label-age">
                Age
            </label>
 
            <input type="text"
                   id="age"
                   placeholder="Enter your age" required />
        </div>
  
        <div class="form-control">
            <label for="role" id="label-role">
                Which option best describes you?
            </label>
             
            <!-- Dropdown options -->
            <select name="role" id="role" required>
                <option value="student">Student</option>
                <option value="intern">Intern</option>
                <option value="professional">
                    Professional
                </option>
                <option value="other">Other</option>
            </select>
        </div>            
        <button type="submit" value="submit"><a href="/second">NEXT</a></button>
    </form>
    </body>
    </html>