{{> header}}
        <link rel="stylesheet" href="/css/style.css">
<body>
     <h1>SURVEY FORM</h1> 
    {{> navbar}}
    <form action="" method="post" class="form-control" id="form">
         <div class="form-control" >
            <label>Languages and Frameworks known
                <small>(Check all that apply)</small>
            </label>
            <!-- Input Type Checkbox -->
            <label for="inp-1">
                <input type="checkbox"
                       name="inp">C</input></label>
            <label for="inp-2">
                <input type="checkbox"
                       name="inp">C++</input></label>
            <label for="inp-3">
                <input type="checkbox"
                       name="inp">C#</input></label>
            <label for="inp-4">
                <input type="checkbox"
                       name="inp">Java</input></label>
            <label for="inp-5">
                <input type="checkbox"
                       name="inp">Python</input></label>
            <label for="inp-6">
                <input type="checkbox"
                       name="inp">JavaScript</input></label>
            <label for="inp-7">
                <input type="checkbox"
                       name="inp">React</input></label>
            <label for="inp-7">
                <input type="checkbox"
                       name="inp">Angular</input></label>
            <label for="inp-7">
                <input type="checkbox"
                       name="inp">Django</input></label>
            <label for="inp-7">
                <input type="checkbox"
                       name="inp">Spring</input></label>
                       <!-- Multi-line Text Input Control -->
        <button type="submit" value="submit"><a href="/third">NEXT</a></button>
        </form>

        
</body>
</html>