        {{> header}}    
        <link rel="stylesheet" href="/css/style.css">
        <body>
        <h1>SURVEY FORM</h1>   
        {{> navbar}}
        <div class="form-control" id="form">
                <h1 style="text-align: center;">Thank You</h1>
        </div>  
        </body>
</html>
