       {{> header}}    
       <link rel="stylesheet" href="/css/style.css">
       <body>
       <h1>SURVEY FORM</h1> 
       {{> navbar}}
        <form action="" method="post" class="form-control" id="form">
            <label for="comment">
                Any comments or suggestions
            </label>
 
            <!-- multi-line text input control -->
            <textarea name="comment" id="comment"
                placeholder="Enter your comment here">
            </textarea>
            <!-- Multi-line Text Input Control -->
        <button type="submit" value="submit"><a href="/thankyou">NEXT</a></button>
        </form>          
</body>
</html>